body {
  background-color: gray;
  padding: 20px 20px;
  font-size: 18px;
}

.main__container {
  display: flex;
  justify-content: flex-start;
  color: white;
  padding: 20px 20px;
}

.form__register {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__label {
  padding: 10px 10px;
}

.form__label > div {
  margin-top: 10px;
}

.error {
  margin-left: 20px;
  color: rgb(255, 255, 129);
}

input {
  outline: none;
  border: 1px solid white;
  background: none;
  color: white;
  width: 300px;
  height: 35px;
}

input::placeholder {
  color: white;
  opacity: 0.2;
  padding: 0px 5px;
  font-size: 14px;
}

.form__input {
  margin: 0px 10px;
}

#userBirth {
  width: 160px;
  padding: 0px 10px;
  font-size: 14px;
  cursor: pointer;
}

.gender-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
}

.gender-box__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 75px;
  cursor: pointer;
}

.radio__input {
  width: 20px;
  margin: 10px 10px;
  cursor: pointer;
}

.agree--label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  margin-left: 195px;
  cursor: pointer;
}
.agree__input {
  width: 20px;
  height: 18px;
  cursor: pointer;
}

.submit__input {
  width: 100px;
  margin-top: 50px;
  margin-left: 225px;
  cursor: pointer;
}
