body {
  font-family: sans-serif;
}

main {
  display: flex;
}

#btn-record {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 5px;
}

#btn-record i {
  color: crimson;
  margin-right: 5px;
}

#record-status {
  display: none;
}

.recoding #btn-record i {
  color: black;
}

.recoding #record-status {
  display: inline;
}
